@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Web Application</h1>
    <p></p>
    <p>For information on how to use it, check <a href="https://github.com/brandaovh/aspnet-core-auth-sqldb">my GitHub repo</a>.</p>
</div>
