@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my web application!</h1>
    <p>More information available on <a href="https://github.com/brandaovh/dotnetsql">my GitHub repo</a>.</p>
</div>
