@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>If you have any questions or concerns about the use of your personal data on this website, please contact me at <a href="mailto:brandaovh@gmail.com">brandaovh@gmail.com</a></p>